@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Unska 3<br />
    10000 Zagreb, Croatia<br />
    <abbr title="Phone">P:</abbr>
    01/2345678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:domagoj.tomic@fer.hr">domagoj.tomic@fer.hr</a><br />
</address>